 <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Proveedoress</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Modificar Proveedor</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


     <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
          <div class="col-sm-10">
            <h4 card-title><b>Modificar Proveedor</b></h4>
          </div>
          <div class="col-sm-2">
            <a  routerLink="/dashboard/listado-proveedor" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
              &nbsp;Back</a>
          </div>
        </div>
                    </div>

                    <div class="card-content">
                        <div class="card-body">
                            <form class="form">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Nombre</label>
                                            <input type="text" id="first-name-column" class="form-control" placeholder="Nombre"
                                                name="fname-column">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column">NIT</label>
                                            <input type="text" id="last-name-column" class="form-control" placeholder="NIT"
                                                name="lname-column">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="city-column">NRC</label>
                                            <input type="text" id="city-column" class="form-control" placeholder="NRC" name="city-column">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="country-floating">DUI</label>
                                            <input type="text" id="country-floating" class="form-control" name="country-floating"
                                                placeholder="DUI">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Dirección</label>
                                            <input type="text" id="company-column" class="form-control" name="company-column"
                                                placeholder="Dirección">
                                        </div>
                                    </div>
                                     <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="company-column">teléfono</label>
                                            <input type="text" id="company-column" class="form-control" name="company-column"
                                                placeholder="teléfono">
                                        </div>
                                    </div>
                                      <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Email</label>
                                            <input type="Email" id="company-column" class="form-control" name="company-column"
                                                placeholder="Email">
                                        </div>
                                    </div>

                                      <div class="col-12">
                        <div class='form-check'>
                            <div class="checkbox mt-2">
                                <input type="checkbox" id="remember-me-v" class='form-check-input' checked>
                                <label for="remember-me-v">Remember Me</label>
                            </div>
                        </div>
                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1 m-1">Guardar</button>
                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1 m-1">Limpiar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->