    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Provedores</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Listado de Provedores</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>





       <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card  table-responsive">
              <div class="card-header">
                    <div class="row">
          <div class="col-sm-10">
            <h4 card-title><b>Listado de Provedores</b></h4>
          </div>
          <div class="col-sm-2">
            <button routerLink="/dashboard/registrar-proveedor" class="btn btn-success " >
              <i class='fas fa-plus-circle'></i><span> Nuevo Proveedor</span>
            </button>
          </div>
        </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
            <table id="example" class="display nowrap  table table-bordered table-hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>NIT</th>
                <th>DUI</th>
                <th>Teléfono</th>
                <th>Emeil</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
         <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
 <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>jorhessjsjnncnckdks@gmail.com</td>
                 <td >
                <a routerLink="/dashboard/editar-proveedor" class="btn btn-primary mr-3"><i class="fa-sharp fa-solid fa-pen-to-square" ></i></a>
                 <button type="button"  name="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"><i class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>

        
        </tbody>
        <tfoot class="thead-dark">
            <tr>
            <th>Nombre</th>
                <th>NIT</th>
                <th>DUI</th>
                <th>Teléfono</th>
                <th>Emeil</th>
                 <th>Acciones</th>


            </tr>
        </tfoot>
    </table>

       </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->

    
    </section>







  <!-- modal -->

      <div class="modal fade" id="modal-danger">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">Eliminar Proveedor</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>¿Estás seguro de eliminar el registro?&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-outline-light">Si</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
