 <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Proveedores</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Registrar Proveedor</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


     <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
          <div class="col-sm-10">
            <h4 card-title><b>Registrar Proveedor</b></h4>
          </div>
        
        </div>
                    </div>

                    <div class="card-content">
                        <div class="card-body">
                            <form class="form">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                            <label for="first-name-column">Nombre</label>
                                        <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                <span class="input-group-text">   <i class="fa-solid fa-signature"></i>  </span>
                              </div>
                                            <input type="text" id="first-name-column" class="form-control" placeholder="Nombre"
                                                name="fname-column">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                            <label for="last-name-column">NIT</label>
                                                                  <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa-solid fa-pager"></i>  </span>
                              </div>
                                            <input type="text" id="last-name-column" class="form-control" placeholder="NIT"
                                                name="lname-column">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                            <label for="city-column">NRC</label>
                                                     <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-pager"></i> </span>
                              </div>
                                            <input type="text" id="city-column" class="form-control" placeholder="NRC" name="city-column">
                                        </div>
                                    </div>

                                    
                                    <div class="col-md-6 col-12">
                                            <label for="country-floating">DUI</label>
                                             <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa-sharp fa-solid fa-id-card"></i>  </span>
                              </div>
                                            <input type="text" id="country-floating" class="form-control" name="country-floating"
                                                placeholder="DUI">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                            <label for="company-column">Dirección</label>
                                                 <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa-sharp fa-solid fa-route"></i>

                                </span>
                              </div>
                                            <input type="text" id="company-column" class="form-control" name="company-column"
                                                placeholder="Dirección">
                                        </div>
                                    </div>

                                     <div class="col-md-6 col-12">
                                            <label for="company-column">teléfono</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-sharp fa-solid fa-phone"></i>
                                </span>
                              </div>

                                            <input type="text" id="company-column" class="form-control" name="company-column"
                                                placeholder="teléfono"  data-inputmask='"mask": "(999) 999-9999"' data-mask>
                                        </div>
                                    </div>
                                   

                            <div class="col-md-6 col-12">
                            <label for="company-column">Email</label>

                             <div class="input-group mb-3">

                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                              </div>

                              <input type="email" class="form-control" placeholder="Email">
                            </div>
                             </div>


                         
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1 m-1">Guardar</button>
                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1 m-1">Limpiar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->